# Ignore everything by default
*

# Allow directories
!*/

# Allow certain file types
!*.csv
!*.json
!*.txt
!*.ipynb
!README.md
!.gitignore

# ---- Specific files to ignore even if their type is allowed ----
soil_erosion/soil_erosion_subcountry.csv